@model Dictionary<string, double>
<!DOCTYPE html>
<html>
<head>
    <title>Günlük Veri Grafiği</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            var modelData = [
                @foreach (var entry in Model)
                {
                    <text>['@entry.Key', @entry.Value],</text>
                }
            ];

            var options = {
                title: 'Günlük Veri Grafiği',
                curveType: 'function',
                legend: { position: 'bottom' }
            };

            var chartData1 = google.visualization.arrayToDataTable([['Gün', 'Veri']].concat(modelData));
            var chart1 = new google.visualization.LineChart(document.getElementById('chart_div1'));
            chart1.draw(chartData1, options);

            var chartData2 = google.visualization.arrayToDataTable([['Gün', 'Veri']].concat(modelData));
            var chart2 = new google.visualization.LineChart(document.getElementById('chart_div2'));
            chart2.draw(chartData2, options);
        }
    </script>
</head>
<body>
    <div id="chart_div1" style="width: 800px; height: 400px;"></div>
    <div id="chart_div2" style="width: 800px; height: 400px;"></div>
</body>
</html>
